<h1>About Me</h1>
<br>
<ul class="bulletless">
	<li><div class="tech-link">What's your technical background?</div></li>
	<li><div class="skills-link">What other skills do you have?</div></li>
	<li><div class="personality-link">Tell me about your personality.</div></li>
	<li><div class="edu-link">What did you study in school?</div></li>
	<li><div class="care-link">What do you care about?</div></li>
	<li><div class="fun-link">What do you do for fun?</div></li>
</ul>

<br><br>

<div class="container">
	
</div>

<div class="about-tech">
	<h4 class="about-q">What's your technical background?</h4>
	<p class="about-answer">I first starting coding more than 15 years ago, when I taught myself HTML and CSS as an enthusiastic 11-year-old. Throughout high school and college, I spent countless hours building and designing websites as a hobby, occasionally dabbling in PHP and JavaScript when my ideas required it. </p>
	<p class="about-answer">In 2013, I decided to pursue web development as a profession. For the next two years, I spent all of my nights and weekends studying Ruby, Ruby on Rails, and a number of object-oriented programming languages to enhance my skillset. I earned a certificate in Ruby Programming from the University of Washington in 2014, and shortly thereafter I was hired as a junior developer for a small financial start-up just north of Chicago.</p>
	<p class="about-answer">On a daily basis, I now write new features and fix bugs across a Rails 3/CanJS/PostgreSQL stack. Because I quickly proved myself to be a reliable and fast-paced developer, my duties have increased significantly from the junior level in a short period of time, and I now regularly tackle independent feature development, project management, and UI/UX design. I still spend many nights and weekends staying up-to-date with the latest technologies and frameworks, which most recently have included Ember.js, d3 data visualizations, and Angular.js. Even as I sharpen those skills, I'm always looking for the new tools to experiment with and master.</p>
</div>

<div class="about-personality">
	<h4 class="about-q">Tell me about your personality.</h4>
	<p class="about-answer">I would describe mysef as:</p>
		<ul>
			<li>Eager and earnest</li>
			<li>Self-motivated</li>
			<li>Hard working</li>
			<li>Idea-prone</li>
			<li>A perfectionist</li>
			<li>A joke-cracker with a great sense of humor</li>
			<li>Practical with a touch of whimsy</li>
		</ul>
	</p>
</div>

<div class="about-education">
	<h4 class="about-q">What did you study in school?</h4>
	<p class="about-answer">I earned my B.A. in Women's Studies from the University of California, Riverside in 2009. I followed that up with a M.A. in Women's Studies in 2011 from San Diego State University. Though I'd initially planned to pursue a doctorate in sociology, I realized that my passion and interests no longer lied in academia, but in programming. In 2014, I began my career transition by earning a certificate in Ruby Programming from the University of Washington in August.</p>
</div>

<div class="about-care">
	<h4 class="about-q">What you care about?</h4>
	<p class="about-answer">As my B.A. and M.A. majors might suggest, I care deeply about social justice issues, particularly as they relate to gender, race, and sexuality. I still use and share this knowledge on a daily basis to promote awareness for women and minority issues within the tech world, whether it relates to the STEM pipeline, retention, or designing apps for more diverse audiences.</p>
	<p class="about-answer">Although I don't teach for a living, my previous experiences teaching undergraduate university courses have given me a deep appreciation for education, teaching, and pedagogy. I hope to use my teaching and public speaking skills to present talks at tech conferences in the near future.</p>
</div>

<div class="about-skills">
	<h4 class="about-q">What other non-technical skills do you have?</h4>
	<p class="about-answer">Because of my round-about journey to becoming a developer, I've been fortunate enough to pick up a number of non-technical skills that make me a better employee and colleague. </p>
	<p class="about-answer">From 2011 to 2014, I worked as a college textbook editor and managed the production of more than 60 books per semester, a job that required me to stay organized, communicative, have a sharp eye for errors and typos (which still comes in quite handy while debugging and proofreading code). This project management role taught me how to balance the big picture while staying attentive to the details, and also honed my ability to work closely with clients in order to serve niche audiences. During that time, I was also responsible for training and hiring new teammates, which allowed me to put my experiences as teacher and mentor to good use.</p>
	<p class="about-answer">I'm also autodidactic, which means that I feel constantly driven to teach myself new things. To that end, I've gained a wide range of software experience, including the Adobe Creative Suite (particularly InDesign and Illustrator), music creation software (Logic Pro and Garageband), and your classic office stand-bys like Microsoft Office and Apple's iWork suite.</p>

</div>

<div class="about-fun">
	<h4 class="about-q">What do you do for fun?</h4>
	<p class="about-answer col-xs-9">When I'm not at work or busy coding one of my side projects, I enjoy gardening, reading, knitting, songwriting, making patchwork quilts, and attempting to wrestle tennis balls away from my lovable dog, Lupin.</p>
	<div class="col-xs-1"></div>
	<div class="col-xs-2"><%= image_tag 'Lupin.jpeg', class: 'img-circle lupin-img', alt: "Lupin, my adorable maltese-poodle mix" %></div>

</div>