<h1>Portfolio</h1>
<br />


<div class="jumbotron">
	<div class="project-title">Cultivate</div>
	<div class="col-xs-5">
		<!-- Project Images to Go Here-->
	</div>
	<div class="col-xs-4">
		<h6>Written in:</h6> <p></p>
		<h6>Gems and Libraries:</h6> <p></p>
		<h6>Gems and Libraries:</h6> <p></p>
	</div>
</div>

<h2>Bits and Pieces</h2>
<br />
<p>A collection of simple prototypes and one-page demos for various tools.</p>