<div class="jumbotron">
    <div class="row">
        <div class="col-xs-5">
          	<%= image_tag 'me.jpeg', class: 'img-circle img-thumbnail', size: '130x130', alt: "Sarah's face" %>
        </div>
        <div class="col-xs-4 hero-text">
          <p>I'm a web developer using technology to make education, sustainability, and social justice more accessible.</p>
        </div>

    </div>
</div>


<h1>Me: <span class="contrast">A Recipe</span></h1>

<div class="jumbotron teal-bg">
    <div class="row">
        <div class="col-xs-2">
          	<h2 class="number-left">1.</h2> 
        </div>
        <div class="col-xs-7 box-text-left">
          <p>Dice together a medley of Ruby/Ruby on Rails, HTML5, and CSS3—these will be the foundational ingredients. Braise together in a pan anywhere in the U.S. (in-house or remote).</p>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>

<div class="jumbotron blue-bg">
  <div class="row">
	  <div class="col-xs-3"></div>
    <div class="col-xs-7 box-text-right">
      <p>As Sarah’s mirepoix of skills develops, toss in some finely chopped Javascript, jQuery, and Angular.js. Regional variations of Sarah may include Python, Android, and PHP/MySQL, but be sure to factor in additional cooking time.</p>
    </div>
     <div class="col-xs-2">
      	<h2 class="number-left">2.</h2> 
    </div>
  </div>
</div>

<div class="jumbotron purple-bg">
  <div class="row">
    <div class="col-xs-2">
      	<h2 class="number-left">3.</h2> 
    </div>
    <div class="col-xs-7 box-text-left">
      <p>Time to add the spices that make Sarah unique! Add a generous combination of autodidacticism, earnestness, humor to taste, a penchant for ideas, and a dash of whimsy into her web development skills.</p>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>

<div class="jumbotron wine-bg">
  <div class="row">
  	<div class="col-xs-3"></div>
      <div class="col-xs-7 box-text-right">
        <p>Place a lid on the pan, allowing Sarah to marinate in an educational enviroment for 6–7 years at approximately 3 degrees. When Sarah is knowledgable and can’t imagine another day without coding, remove from day job to seek new opportunities.</p>
      </div>
      <div class="col-xs-2">
        <h2 class="number-left">4.</h2> 
      </div>
  </div>
</div>

<div class="jumbotron pink-bg">
  <div class="row">
    <div class="col-xs-2">
      	<h2 class="number-left">5.</h2> 
    </div>
    <div class="col-xs-7 box-text-left">
      <p>Before serving, be sure to test thoroughly under rigorous RSpec, Cucumber, and Travis CI conditions—never serve raw code! We recommend serving on a warmed Sublime Text tray and with a generous garnish of Git.</p>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>

</div>
</div>