<div class="panel">
  <div class="top-section">
    <%= image_tag 'me.jpeg', class: 'circle-img', alt: "Sarah's face" %>
    <div class="hero-text">
      <p>I'm a web developer who loves coding engaging apps for diverse audiences.</p>
    </div>  
  </div>
</div>


</div>
</div>