<div class="jumbotron">
    <div class="row">
    		<div class="col-xs-3"></div>
        <div class="col-xs-2">
          	<%= image_tag 'me.jpeg', class: 'img-circle img-thumbnail', size: '70x70', alt: "Sarah's face" %>
        </div>
        <div class="col-xs-4 hero-text">
          <p>Hi, I'm Sarah. I'm a professional web developer who loves coding engaging apps for diverse audiences.</p>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>

<div class="col-xs-12">
    <div class="row">
    	<h1 class="recipe-title">Me: <span class="contrast">A One-of-a-Kind Recipe</span></h1>
    </div>
</div>

<div class="jumbotron teal-bg">
    <div class="row">
        <div class="col-xs-2">
          	<h2 class="number-one">1.</h2> 
        </div>
        <div class="col-xs-9 box-text-left">
          <p class="recipe" style="padding-top:18px;">Dice together a medley of Ruby/Ruby on Rails, HTML5, and CSS3—these will be the foundational ingredients. Braise together in a pan anywhere in the U.S. (in-house or remote).</p>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>

<div class="jumbotron blue-bg">
  <div class="row">
	  <div class="col-xs-1"></div>
    <div class="col-xs-9 box-text-right">
      <p style="padding-top:18px;" class="recipe">As Sarah’s mirepoix of skills develops, toss in some finely chopped JavaScript, jQuery, and other JS frameworks (Ember.js, Angular.js, CanJS) as needed.</p>
    </div>
     <div class="col-xs-2">
      	<h2 class="number-two">2.</h2> 
    </div>
  </div>
</div>

<div class="jumbotron purple-bg">
  <div class="row">
    <div class="col-xs-2">
      	<h2 class="number-three">3.</h2> 
    </div>
    <div class="col-xs-9 box-text-left">
      <p class="recipe">Time to add the spices that make Sarah unique! Add a generous combination of autodidacticism, earnestness, humor to taste, a penchant for ideas, and a dash of whimsy into her web development skills.</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

<div class="jumbotron pink-bg">
  <div class="row">
  	<div class="col-xs-1"></div>
      <div class="col-xs-9 box-text-right">
        <p class="recipe">Place a lid on the pan, allowing Sarah to marinate in an educational enviroment for 6–7 years at approximately 3 degrees. When Sarah is knowledgable and can’t imagine another day without coding, remove from heat and allow her to seek new opportunities in technology.</p>
      </div>
      <div class="col-xs-2">
        <h2 class="number-four">4.</h2> 
      </div>
  </div>
</div>

<div class="jumbotron wine-bg">
  <div class="row">
    <div class="col-xs-2">
      	<h2 class="number-five">5.</h2> 
    </div>
    <div class="col-xs-9 box-text-left">
      <p class="recipe">Before serving, be sure to test thoroughly under rigorous RSpec, Cucumber, and Travis CI conditions—never serve raw code! We recommend serving on a warmed Sublime Text tray and with a generous garnish of Git.</p>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

</div>
</div>