<h1>Resume</h1>

<h4>Jr. Developer at The Advisor Center</h4>
<p class="job-dates">October 2014 - Present (4 months)</p>
<p class="job-description">Full stack development on a Ruby on Rails application for financial industry professionals. Duties included: coding new, customer-oriented features in Ruby and multiple JavaScript frameworks (Ember.js, CanJS, Enyo, Sproutcore); investigating and performing frontend and backend bug fixes; writing unit and integration tests; code reviews; framework and library evaluation; ensuring adherence to UI/UX best practices; Heroku deployment; project management.</p>

<hr class="minibar">

<h4>Senior Project Editor at Cognella</h4>
<p class="job-dates">May 2011 - October 2014 (3 years 6 months)</p>
<p class="job-description">Responsible for the creation and publication of over 60 college textbooks each academic term, from development stage to printing, in a fast-paced publishing setting. Duties included but not limited to: creating, designing, and editing book layouts; trafficking book files through every stage of production; quality checks; hiring and supervision of 30+ freelance proofreaders, copyeditors, and indexers; managing project budgets and resources; advising authors throughout writing and publishing process; coordinating between sales/marketing, licensing, and operations departments to ensure success of each title; database information management; e-mail and phone correspondence; general editing duties.</p>

<hr class="minibar">

<h4>Graduate Teaching Associate at San Diego State University</h4>
<p class="job-dates">August 2010 - May 2011 (10 months)</p>
<p class="job-description">Autonomously designed and taught an undergraduate-level women’s studies course titled “Women: Self, Identity, and Society.” Created social science-based class syllabus (selecting reading and written assignments, setting class policies, etc.); taught weekly classes; grading; held office hours and met with students.</p>

<hr class="minibar">

<h4>Consultant for the Young Women's Studies Club at San Diego State University</h4>
<p class="job-dates">August 2010 - December 2010 (5 months)</p>
<p class="job-description">Assisted in the establishment and design of a program website, writing a program handbook, and training incumbent program coordinator.</p>

<hr class="minibar">

<h4>Graduate Assistant at San Diego State University</h4>
<p class="job-dates">June 2010 - August 2010 (3 months)</p>
<p class="job-description">Planned and organized department’s fall fundraising dinner; conducted archival research on department history; material selection and preparation for “Sustaining a Revolution: Women’s Studies Turns 40,” a library exhibit at SDSU Love Library; managed exhibit installation.</p>

<hr class="minibar">

<h4>Graduate Student Coordinator at San Diego State University</h4>
<p class="job-dates">August 2009 - May 2010 (10 months)</p>
<p class="job-description">Coordinated weekly meetings of the Young Women’s Studies Club at Hoover High School, a mentoring
program for underprivileged youth run through SDSU. Duties included but not limited to: planning/ implementing weekly social justice discussions and activities, assisting in the supervision of sociological research during club meetings, managing food and supply distribution, supervising volunteer undergraduate mentors, acting as liaison between Hoover High School and SDSU, mentoring both college and high school students.</p>

<hr class="minibar">

<h4>Research Assistant at University of California, Riverside</h4>
<p class="job-dates">May 2009 - July 2009 (3 months)</p>
<p class="job-description">Conducted archival research for a professor in the Women's Studies department. Traveled to the One Archives in Los Angeles, CA, photographed archival materials, formatted and edited resulting photos into OCR-ready .pdf files.</p>

<hr class="minibar">

<h4>Student Assistant at University of California, Riverside</h4>
<p class="job-dates">September 2005 - September 2006 (1 year 1 month)</p>
<p class="job-description">Dually assisted the References and Periodicals departments of the Tomás Rivera Library at the University of California at Riverside. Assisted patrons with research, located library materials, instructed patrons on use of databases and library resources, miscellaneous clerical duties.</p>
