<h1>Resume</h1>
<br><br>	

<div id="education-left" class="col-xs-6 col-lg-4">
 <div class="online-box">

 	<h3 class="edu-head">Skills</h3>
 		<hr class="sidebar-hr">
 		<br>
 		<h4 class="sidebar-h4">Languages</h4>
 		 	<ul>
 		 		<li>Ruby/Ruby on Rails</li>
				<li>HTML &amp; CSS</li>
				<li>JavaScript, including jQuery, Ember.js, and d3</li>
				<li>MySQL, Postgres</li>
 		 	</ul>

		<br>

 		<h4 class="sidebar-h4">Test-Driven</h4>
 		 	<ul>
 		 		<li>TDD/BDD</li>
 		 		<li>Minitest, RSpec</li>
				<li>Cucumber</li>
				<li>Capybara</li>
				<li>Continuous integration</li>
 		 	</ul>

		<br>

 		<h4 class="sidebar-h4">Toolbox</h4>
 		 	<ul>
 		 		<li>OS: Mac/Linux/Windows</li>
 		 		<li>Sublime Text, Vim</li>
				<li>Git/Github, Pivotal Tracker, Trello</li>
				<li>Adobe Creative Suite<br> (InDesign, Illustrator, Photoshop)</li>
 		 	</ul>

		<br>

 		<h3 class="edu-head">Education</h3>
 		<hr class="sidebar-hr">
 		<br>
 		<div class="degrees">
	 		<p>Certificate in Ruby Programming</p>
	 		<p class="smaller">University of Washington Professional and Continuing Education</p>
	 		<p class="smaller">Awarded September 2014</p>
	 		<br>
	 		<p>M.A. in Women's Studies</p>
	 		<p class="smaller">San Diego State University &#8226; 2011</p>
	 		<br>
	 		<p>B.A. in Women's Studies</p>
	 		<p class="smaller">University of California, Riverside &#8226; 2009</p>
	 		<br>
	 	</div>

 		<h3 class="edu-head">Online Learning</h3>
 		<hr class="sidebar-hr">
 		<br>
 		<%= render :partial => "courses/treehouse" %> 
 		<br><br><br>
 		<%= render :partial => "courses/codeschool" %>


 		<br><br><br>
 </div>
</div>


<div id="resume-right" class="col-xs-12 col-sm-6 col-lg-8">
	<div class="resume-box">
		<h4 class="job-title">Jr. Developer at The Advisor Center</h4>
		<p class="job-dates">October 2014&mdash;Present</p>
		<div class="job-description">Full stack development on a Ruby on Rails application for financial industry professionals. Duties include:<br> <br> 
			<ul>
					<li>Coding new, customer-oriented features in Rails and JavaScript frameworks <br>(Ember.js, CanJS)</li>
					<li>Investigating and performing frontend and backend bug fixes</li>
					<li>Writing unit and integration tests</li>
					<li>API development</li>
					<li>Code reviews; framework and library evaluation</li>
					<li>Ensuring adherence to UI/UX best practices</li>
					<li>Product design</li>
					<li>Heroku deployment</li>
					<li>Project management</li>
				</ul>
		</div>
	</div>

	<hr class="minibar">

	<div class="resume-box">
		<h4>Senior Project Editor at Cognella</h4>
		<p class="job-dates">May 2011&mdash;October 2014</p>
		<p class="job-dates">Previous positions: Project Editor, Editorial Assistant</p>
		<div class="job-description">Responsible for the creation and publication of over 60 college textbooks each academic term, from development stage to printing, in a fast-paced publishing setting. Duties included: <br><br> 
			<ul>
				<li>Creating, designing, and editing book layouts</li>
				<li>Trafficking book files through every stage of production</li>
				<li>Hiring and supervision of 30+ freelance proofreaders, copyeditors, and indexers</li>
				<li>Advising authors throughout writing and publishing process</li>
				<li>Coordinating between sales/marketing, licensing, and operations departments to ensure success of each title</li>
				<li>Managing project budgets and resources</li>
				<li>General editing duties (proofreading, quality checks, database information management)</li>
			</ul> 
		</div>
	</div>

	<hr class="minibar">

	<div class="resume-box">
		<h4>Graduate Teaching Associate at San Diego State University</h4>
		<p class="job-dates">August 2010&mdash;May 2011</p>
		<div class="job-description">Autonomously designed and taught an undergraduate-level women’s studies course titled “Women: Self, Identity, and Society.” Duties included:<br><br> 
			<ul>
				<li>Created social science-based class syllabus (selecting reading and written assignments, setting class policies, etc.)</li>
				<li>Taught weekly classes</li>
				<li>Grading and rubric design</li>
				<li>Held office hours and met with students</li>
			</ul>
		</div>
	</div>


	<hr class="minibar">

	<div class="resume-box">
		<h4>Graduate Assistant at San Diego State University</h4>
		<p class="job-dates">June 2010&mdash;August 2010</p>
		<div class="job-description">Planned and organized department’s fall fundraising dinner; conducted archival research on department history; material selection and preparation for “Sustaining a Revolution: Women’s Studies Turns 40,” a library exhibit at SDSU Love Library; managed exhibit installation.</div>
	</div>

	<hr class="minibar">

	<div class="resume-box">
		<h4>Graduate Student Coordinator at San Diego State University</h4>
		<p class="job-dates">August 2009&mdash;May 2010</p>
		<div class="job-description">Coordinated weekly meetings of the Young Women’s Studies Club at Hoover High School, a mentoring
		program for underprivileged youth run through SDSU. Duties included:<br> <br> 
		<ul>
			<li>Planning/implementing weekly social justice discussions and activities</li>
			<li>Assisting in the supervision of sociological research during club meetings</li>
			<li>Supervising and training volunteer undergraduate mentors</li>
			<li>Mentoring both college and high school students</li>
			<li>Managing food and supply distribution</li>
			<li>Acting as liaison between Hoover High School and SDSU</li>
		</ul>
	</div>
</div>

	<hr class="minibar">

	<div class="resume-box">
		<h4>Research Assistant at University of California, Riverside</h4>
		<p class="job-dates">May 2009&mdash;July 2009</p>
		<div class="job-description">Conducted archival research for a professor in the Women's Studies department. Traveled to the One Archives in Los Angeles, CA, photographed archival materials, formatted and edited resulting photos into OCR-ready .pdf files.</div>
	</div>
	<br><br>
</div>