<h1></h1>
<div class="downloady">
	<%= link_to "/SWheeler_Resume.pdf", target: "_blank" do %>
		<button class="resume-pdf">Download Resume</button>
	<% end %>
</div>
<br><br>	

<div class="col-lg-1"></div>
<div id="education-left" class="col-xs-6 col-lg-4">
	<div class="online-box">
	 	<h2>Skills</h2>
	 		<h4 class="sidebar-h4">Languages</h4>
	 		 	<ul class="skills-list">
	 		 		<li>Ruby (Ruby on Rails, Sinatra)</li>
	 		 		<li>JavaScript (React, Ember, vanilla)</li>
					<li>HTML (HAML, Slim)</li>
					<li>CSS (Sass, Bootstrap)</li>	
					<li>MySQL, Postgres</li>
	 		 	</ul>

			<br>

	 		<h4 class="sidebar-h4">Test-Driven</h4>
	 		 	<ul class="skills-list">
	 		 		<li>TDD/BDD</li>
	 		 		<li>Minitest, RSpec</li>
					<li>Cucumber</li>
					<li>Capybara</li>
					<li>Continuous integration</li>
	 		 	</ul>

			<br>

	 		<h4 class="sidebar-h4">Toolbox</h4>
	 		 	<ul class="skills-list">
					<li>Git/Github, Jira, Pivotal Tracker, Trello</li>
					<li>Sublime Text, Vim</li>
					<li>Adobe Creative Suite<br> (InDesign, Illustrator, Photoshop)</li>
					<li>OS-flexible</li>
	 		 	</ul>
	 	<br><br>
	</div>
	<br><br><br>
	<div class="online-box">
			<h2>Education</h2>
	 		<div class="degrees">
		 		<p>Certificate in Ruby Programming<br>
		 		<span class="smaller">University of Washington Professional <br>and Continuing Education<br>
		 		Awarded September 2014</span></p>
		 		<br>
		 		<p>M.A. in Women's Studies<br>
		 		<span class="smaller">San Diego State University</span></p>
		 		<br>
		 		<p>B.A. in Women's Studies</br>
		 		<span class="smaller">University of California, Riverside</span></p>
		 		<br>
		 	</div>
	</div>
</div>


<div id="resume-right" class="col-xs-12 col-sm-6 col-lg-6">

	<div class="resume-box">
		<h2>Positions</h2>
		<h4 class="job-title">Jr. Software Developer at TeamSnap</h4>
		<p class="job-dates">October 2015&mdash;Present</p>
		<br>
		<div class="job-description">Full stack development and support engineering on a Ruby on Rails application and microservices growing to over 12 million users (primarily sports organizations). Duties include:<br> <br> 
			<ul>
					<li>Building back end Ruby API and microservices</li>
					<li>Performing high-impact bug fixes across main platform, APIs, & microservices</li>
					<li>Innovating & implementing internal support tools from design to development</li>
					<li>Enhancing & refactoring existing features</li>
					<li>Escalating, documenting, & debugging issues</li>
					<li>Coordinating focused solutions with support & produect development teams</li>
					<li>Code reviews & training</li>
					<li>Performing on-call rotation duties</li>
				</ul>
		</div>
		<br><br><br>
		<h4 class="job-title">Jr. Developer at The Advisor Center</h4>
		<p class="job-dates">October 2014&mdash;Present</p>
		<br>
		<div class="job-description">Full stack development on a Ruby on Rails application for financial industry professionals. Duties include:<br> <br> 
			<ul>
					<li>Coding new, customer-oriented features in Rails and JavaScript frameworks <br>(Ember.js, CanJS)</li>
					<li>Investigating and performing frontend and backend bug fixes</li>
					<li>Writing unit and integration tests</li>
					<li>API development</li>
					<li>Code reviews; framework and library evaluation</li>
					<li>Ensuring adherence to UI/UX best practices</li>
					<li>Product design</li>
					<li>Heroku deployment</li>
					<li>Project management</li>
				</ul>
		</div>
		<br><br><br>
		<h4 class="job-title">Senior Project Editor at Cognella</h4>
		<p class="job-dates">May 2011&mdash;October 2014</p>
		<p class="job-dates">Previous positions: Project Editor, Editorial Assistant</p>
		<br>
		<div class="job-description">Responsible for the creation and publication of over 60 college textbooks each academic term, from development stage to printing, in a fast-paced publishing setting. Duties included: <br><br> 
			<ul>
				<li>Creating, designing, and editing book layouts</li>
				<li>Hiring and supervision of 30+ freelance proofreaders, copyeditors, and indexers</li>
				<li>Trafficking book files through every stage of production</li>
				<li>Managing project budgets and resources</li>
				<li>General editing duties (proofreading, quality checks, database information management)</li>
			</ul> 
			<br><br>
		</div>
	</div>
</div>

<div class="col-lg-1"></div>
