<h5><%= link_to "Treehouse", "http://teamtreehouse.com/sarahwheeler" %></h5>
<p><span id="treehouse-pts"></span> points</p>

<h6>Most Recent Courses:</h6>

<%= link_to "View all badges →", courses_path %>
<br>
<div id="treehouse-bubble-chart"></div>