<h1>Courses</h1>
<br>
<div class="all-badges">
	<%= link_to "Treehouse", "#treehouse-badges" %> &bull; <%= link_to "Code School", "#codeschool-badges" %>
	<br><br><br>

	<div id="treehouse-badges"></div>
	<h3>Treehouse</h3>
	<div id="th-badges" class="container">
		<ul class="row">
		</ul>
	</div>

	<br>
	<br>

	<div id="codeschool-badges"></div>
	<h3>Code School</h3>
	<div id="cs-badges" class="container">
		<ul class="row">
		</ul>
	</div>
</div>