<h1>Courses</h1>
<br>
<%= link_to "Treehouse", "#" %> &bull; <%= link_to "Code School", "#" %>
<br>
<h3>Treehouse</h3>
<div id="th-badges" class="container">
	<ul class="row">
	</ul>
</div>

<br>
<br>

<h3>Code School</h3>
<div id="cs-badges" class="container">
	<ul class="row">
	</ul>
</div>