<div id="th-bubbles-wrapper">
	<div id="ruby"></div>
	<div id="html"></div>
	<div id="css"></div>
	<div id="javascript"></div>
	<div id="development-tools"></div>
	<div id="php"></div>
	<div id="android"></div>
</div>