/*   SASS COLOR VARIABLES   */

	$pinkJewel: #CC0066;
	$redJewel: #990033;
	$wineJewel: #660033;
	$purpleJewel: #520052;
	$darkBlueJewel: #000066;
	$blueJewel: #006699;
	$brightBlueJewel: #3284AD;
	$tealJewel: #009999;
	$emeraldJewel: #009980;

#th-bubbles-wrapper {
	padding:50px;
}
circle {
	opacity: 0.88;
}
.ruby {
	fill: $redJewel;
}
.html {
	fill: $pinkJewel;
}
.javascript {
	fill: $emeraldJewel;
}
.css {
	fill: $blueJewel;
}
.php {
	fill: $purpleJewel;
}
.android {
	fill: $wineJewel;
}
.development {
	fill: $brightBlueJewel;
}
.design {
	fill: $darkBlueJewel;
}

.about-left {
	margin-left: 5%;
	margin-right: -10%;
}

.about-tech, .about-personality, .about-fun,
.about-care, .about-education, .about-skills {
	display: none;
	margin: auto;
	margin-left: 15%;
}

.container {
	width: 70%;
	margin: auto;
	margin-bottom: 50px;
}

.tech-link, .personality-link, .edu-link,
.care-link, .skills-link, .fun-link {
	font-size: 1.25em;
	line-height: 1.55em;
}

.tech-link:hover, .personality-link:hover, .edu-link:hover,
.care-link:hover, .skills-link:hover, .fun-link:hover {
	text-decoration: none;
	cursor: pointer;
	color: $tealJewel;
}

.about-q {
	padding: 10px 0;
	text-align: center;
	font-size: 1.55em;
}

.about-answer, .about-personality ul li {
	text-align: justify;
	padding-bottom: 7px;
	font-size: 1.45em;
	line-height: 1.25em;
}

.lupin-img {
	float: right;
	width:200px;
	height: 50%;
	margin-top: -15px;
	margin-left: 25px;
}

.social-list {
	margin-left: -6%;
	line-height: 1.75em;
	list-style: none;
	font-weight: bold;
	li {
		font-size: 1.4em;
	}
	li a {
		font-size: 0.85em;
	}
	li a:hover {
		background-color: #f0f0f0 !important;
	}
}

/*   BOOKS READ   */

.lupin-img {
	text-align: center;
}
.lupin-img img {
	max-height: 200px;
	max-width: 200px;
}
