/*   SASS COLOR VARIABLES   */

	$pinkJewel: #CC0066;
	$redJewel: #990033;
	$wineJewel: #660033;
	$purpleJewel: #520052;
	$darkblueJewel: #000066;
	$blueJewel: #006699;
	$tealJewel: #009999;

.about-tech, .about-personality, .about-fun,
.about-care, .about-education, .about-skills {
	display: none;
	margin: auto;
}

.container {
	width: 50%;
	margin: auto;
}

.tech-link:hover, .personality-link:hover, .edu-link:hover,
.care-link:hover, .skills-link:hover, .fun-link:hover {
	text-decoration: none;
	cursor: pointer;
	color: $tealJewel;
}

.about-q {
	padding: 10px 0;
	text-align: center;
}

.about-answer {
	text-align: justify;
	padding-bottom: 7px;
}

.img-right {
	float: right;
}