.about-tech, .about-personality,
.about-care, .about-education, .about-skills {
	display: none;
	width: 50%;
	margin: auto;
}

.container {
	width: 50%;
	margin: auto;
}

.tech-link:hover, .personality-link:hover, .edu-link:hover,
.care-link:hover, .skills-link:hover {
	text-decoration: none;
}