/*   SASS COLOR VARIABLES   */

	$pinkJewel: #CC0066;
	$redJewel: #990033;
	$wineJewel: #660033;
	$purpleJewel: #520052;
	$darkBlueJewel: #000066;
	$blueJewel: #006699;
	$tealJewel: #009999;
	$emeraldJewel: #009980;
	$brightBlueJewel: #3284AD;

	#archive-container {
		margin: 5% 30%;
	}