// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-badges {
	text-align: center;
}

#th-badges, #cs-badges {
	display: inline-flex;
	width: 70%;
}
#cs-badges {
	margin-left: 10%;
}
#th-badges ul.row, #cs-badges ul.row {
	list-style: none;
	margin-left: 8%;
}

.th-thumbnail, .cs-thumbnail {
	margin: 25px 25px;
	text-align: center;
}

.th-badge-img {
	width: 75px;
	height: 75px;
	margin-bottom: 15px;
}

.cs-badge-img {
	width: 105px;
	height: 105px;
	margin-bottom: 15px;
}

.th-thumbnail:nth-child(4n+1), 
.cs-thumbnail:nth-child(4n+1) {
	clear:left;
}

