/* FONT IMPORTS */

	@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,700,600,800,900);
	@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
	@import url(https://fonts.googleapis.com/css?family=Heebo:100,300,400);
	@import url(https://fonts.googleapis.com/css?family=Assistant:200,300,400);
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);


/*   SASS COLOR VARIABLES   */

	$pinkJewel: #CC0066;
	$redJewel: #990033;
	$wineJewel: #660033;
	$purpleJewel: #520052;
	$darkBlueJewel: #000066;
	$blueJewel: #006699;
	$tealJewel: #009999;
	$emeraldJewel: #009980;
	$brightBlueJewel: #3284AD;

	$mintyFresh: #BFFFBF;
	$icyBlue: #BFFFFF;
	$frostyPink: #eeb2c2;


a, a:visited {
	color: $emeraldJewel;
}
a:hover {
	color: $pinkJewel;
	background-color: #000;
}

/* NAVBAR TYPOGRAPHY */

	/*  First Name Styling   */

		.navbar-default .navbar-brand {
			font-family: "Raleway", sans-serif;
			font-weight: 200;
			color: $icyBlue;
			font-size: 2.8em;
			margin-right: 100px;
			margin-bottom: 20px;
		}

		.navbar-default .navbar-brand:hover {
			color: $mintyFresh;
		}
		.navbar-default .navbar-brand:hover span {
			color: $frostyPink;
		}

	/* Last Name Styling */

		.contrast {
			font-weight: 300;
			color: $mintyFresh;
			margin: 0 5px 0 5px;
		}


	/* Nav Link Styling */

		.navbar-default .navbar-nav>li>a {
			font-family: "Raleway";
			color: $mintyFresh;
			font-weight: 100;
			font-size: 1.2em;
			margin: 3px 4px 0 0;
			background-color: #000;
			text-transform: uppercase;
		}

		.navbar-default .navbar-nav>li>a:hover {
			color: $icyBlue;
			background-color: #000;
		}



/* NAV BAR  */

	.navbar-default {
		background-color: #000;
		border-bottom: 5px solid $mintyFresh;
		margin-bottom: 60px;
		padding-top: 15px;
		width: 100%;
	}

	.navbar-nav {
		float: right;  
	}

	nav {
		
	}
