@import 'colors';

.port-project {
	padding: 2em 0 2em 0;
}
.img-portfolio {
	float: left;
}
.port-video {
	margin-top: 30px;
}
.youtube-btn {
	display: inline-flex;	
	background: image-url('youtube-logo-dark.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 20px;
	width: 52px;
	opacity: 0.75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
	margin-left: 18px;
	margin-top: 3px;
	&:hover {
		display: inline-flex;
		background: image-url('youtube-logo-color.png');
		background-repeat: no-repeat;
		background-size: 100%;
		height: 20px;
		width: 52px;
		opacity: 0.75;
		filter: alpha(opacity=75); /* For IE8 and earlier */
	}
}

a .glyphicon.heroku-btn {
	display: inline-flex;
	font-size: 12pt;
	padding-left: 7px;
	vertical-align: text-top;
	color: $emeraldJewel;
}
a:hover .heroku-btn {
	color: $blueJewel;
}
.icon-belt {
	display: inline-flex;
	margin-top: 20px;
	width: 100%;
}
.port-github {
	background: image-url('github-logo-dark.png');
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.75;
	width: 25px;
	height: 25px;
	filter: alpha(opacity=75); /* For IE8 and earlier */
	&:hover {
		background: image-url('github-logo-blue.png');
		background-repeat: no-repeat;
		background-size: 100%;
		width: 25px;
		height: 25px;
	}
}

.port-title {
	display: inline-flex;
}
.cultivate-vid {
	display: none;
}
.img-nav {
	display: inline-flex;
	margin: 0 40%;
	margin-top: 35px;
}
.circle, .bk-circle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: $tealJewel;
	margin-right: 10px;
	opacity: 0.75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
	cursor: pointer;
	&:hover {
		opacity: 0.5;
		filter: alpha(opacity=50); /* For IE8 and earlier */
	}
}
.active {
	background-color: #006666;
}
.row-link, .row-link:hover {
	background-color: #eee !important;
}