/*   SASS COLOR VARIABLES   */

	$pinkJewel: #CC0066;
	$redJewel: #990033;
	$wineJewel: #660033;
	$purpleJewel: #520052;
	$darkBlueJewel: #000066;
	$blueJewel: #006699;
	$tealJewel: #009999;
	$emeraldJewel: #009980;
	$brightBlueJewel: #3284AD;

.port-project {
	padding: 2em 0 2em 0;
}
.img-portfolio {
	float: left;
}
.port-video {
	margin-top: 30px;
}
.youtube-btn {
	display: inline-flex;	
	background: image-url('youtube-logo-dark.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 45px;
	width: 72px;
	opacity: 0.75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
	margin-left: 18px;
}
.youtube-btn:hover {
	display: inline-flex;
	background: image-url('youtube-logo-color.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 45px;
	width: 72px;
	opacity: 0.75;
	filter: alpha(opacity=75); /* For IE8 and earlier */
}
a .glyphicon.heroku-btn {
	display: inline-flex;
	font-size: 12pt;
	padding-left: 7px;
	vertical-align: text-top;
	color: $emeraldJewel;
}
a:hover .heroku-btn {
	color: $blueJewel;
}
.icon-belt {
	display: inline-flex;
	margin-top: 15px;
	width: 100%;
}
.port-github {
	background: image-url('github-logo-dark.png');
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.75;
	width: 25px;
	height: 25px;
	filter: alpha(opacity=75); /* For IE8 and earlier */
}
.port-github:hover {
	background: image-url('github-logo-blue.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 25px;
	height: 25px;
}
.port-title {
	display: inline-flex;
}