.port-project {
	padding: 2em 0 2em 0;
}

.img-portfolio {
	float: left;
}

.port-video {
	margin-top: 30px;
}
img.youtube-btn {
	opacity: 0.5;	
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
.heroku-btn {
	color: #000;
	opacity: 0.5;
}