/* FONT IMPORTS */

	@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,700,600,800,900);
	@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,100,300,500,600,700);
	@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
	@import url(http://fonts.googleapis.com/css?family=Antic);


/*   SASS COLOR VARIABLES   */

	$pinkJewel: #CC0066;
	$redJewel: #990033;
	$wineJewel: #660033;
	$purpleJewel: #520052;
	$darkblueJewel: #000066;
	$blueJewel: #006699;
	$tealJewel: #009999;


	hr {
		clear:both;
		height:5px;
		margin-top: -15px;
		/* Old browsers */
		background: #cc0066; 
		/* FF3.6+ */
		background: -moz-linear-gradient(left,  $pinkJewel 0%, $redJewel 18%, $wineJewel 30%, $purpleJewel 45%, $darkblueJewel 60%, $blueJewel 78%, $tealJewel 100%); 
		/* Chrome,Safari4+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$pinkJewel), color-stop(18%,$redJewel), color-stop(30%,$wineJewel), color-stop(51%,$purpleJewel), color-stop(55%,$darkblueJewel), color-stop(78%,$blueJewel), color-stop(100%,$tealJewel)); 
		/* Chrome10+,Safari5.1+ */
		background: -webkit-linear-gradient(left,  $pinkJewel 0%,$redJewel 18%,$wineJewel 30%,$purpleJewel 45%,$darkblueJewel 55%,$blueJewel 78%,$tealJewel 100%); 
		/* Opera 11.10+ */
		background: -o-linear-gradient(left,  $pinkJewel 0%,$redJewel 18%,$wineJewel 30%,$purpleJewel 45%,$darkblueJewel 55%,$blueJewel 78%,$tealJewel 100%);
		/* IE10+ */
		background: -ms-linear-gradient(left,  $pinkJewel 0%,$redJewel 18%,$wineJewel 30%,$purpleJewel 45%,$darkblueJewel 55%,$blueJewel 78%,$tealJewel 100%); 
		/* W3C *
		background: linear-gradient(to right,  $pinkJewel 0%,$redJewel 18%,$wineJewel 30%,$purpleJewel 45%,$darkblueJewel 55%,$blueJewel 78%,$tealJewel 100%); 
		/* IE6-9 */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0066', endColorstr='#009999',GradientType=1 ); 
	}

/* HERO CONTAINER */

	.jumbotron {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.panel {
		width: 100%;
		padding: 18px 18px;
		display: inline-block;
		background-color: #F8F8F8;
	}

	.top-section {
		display: inline-flex;
	}



	/*   IMAGES   */

		.circle-img {
			width: 200px;
			height:50%;
		}

		.img-circle {
			background-color: $redJewel;
		}


		.img-thumbnail {
			margin-right: 30px;
			float: right;
		}


/* BACKGROUND STYLES */
		
		.pink-bg, .red-bg, .wine-bg, .purple-bg, .blue-bg, .teal-bg, .darkblue-bg {
			width: 65%;
			margin: auto;
			margin-top: 30px;
			border-radius: 8px;
		}

		.pink-bg {
			background-color: #ea99c1;
		}
		.red-bg {
			background-color: $redJewel;
		}
		.wine-bg {
			background-color: #b27f99;
		}
		.purple-bg {
			background-color: #dcccdc;
		}
		.darkblue-bg {
			background-color: #66a3c1;
		}
		.blue-bg {
			background-color: #cce0ea;
		}
		.teal-bg {
			background-color: #b2e0e0;
		}










