/* FONT IMPORTS */

	@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,700,600,800,900);
	@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,100,300,500,600,700);
	@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);
	@import url(http://fonts.googleapis.com/css?family=Antic);


/*   SASS COLOR VARIABLES   */

	$pinkJewel: #CC0066;
	$redJewel: #990033;
	$wineJewel: #660033;
	$purpleJewel: #520052;
	$darkblueJewel: #000066;
	$blueJewel: #006699;
	$tealJewel: #009999;


	$mintyFresh: #BFFFBF;
	$icyBlue: #BFFFFF;
	$frostyPink: #eeb2c2;


	hr {
		clear:both;
		height:5px;
		margin-top: -15px;
		background: #BFFFBF; 
	}

/* HERO CONTAINER */
	.top-box {
		max-height: 88px;
	}
	.recipe-box {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.panel {
		width: 100%;
		padding: 18px 18px;
		display: inline-block;
		background-color: #F8F8F8;
	}

	.top-section {
		display: inline-flex;
	}



	/*   IMAGES   */

		.circle-img {
			width: 200px;
			height:50%;
		}

		.img-border {
			background-color: $mintyFresh;
		}


		.img-thumbnail {
			margin: 3% 30px -15% 25px;
			float: left;
			max-width: 60%;
		}


/* BACKGROUND STYLES */
		
		.pink-bg, .red-bg, .wine-bg, .purple-bg, .blue-bg, .teal-bg, .darkblue-bg {
			width: 65%;
			margin: auto;
			margin-top: 30px;
			border-radius: 8px;
		}

		.pink-bg {
			background-color: #ea99c1;
		}
		.red-bg {
			background-color: $redJewel;
		}
		.wine-bg {
			background-color: #b27f99;
		}
		.purple-bg {
			background-color: #dcccdc;
		}
		.darkblue-bg {
			background-color: #66a3c1;
		}
		.blue-bg {
			background-color: #cce0ea;
		}
		.teal-bg {
			background-color: #b2e0e0;
		}










