/*   SASS COLOR VARIABLES   */

	$pinkJewel: #CC0066;
	$redJewel: #990033;
	$wineJewel: #660033;
	$purpleJewel: #520052;
	$darkblueJewel: #000066;
	$blueJewel: #006699;
	$tealJewel: #009999;
	$brightBlueJewel: #3284AD;


hr.minibar {
	clear:both;
	height:2px;
	width: 25%;
	margin-top: 45px;
	margin-bottom: 55px;
	/* Old browsers */
	background: #cc0066; 
	/* FF3.6+ */
	background: -moz-linear-gradient(left,  $pinkJewel 0%, $redJewel 18%, $wineJewel 30%, $purpleJewel 45%, $darkblueJewel 60%, $blueJewel 78%, $tealJewel 100%); 
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$pinkJewel), color-stop(18%,$redJewel), color-stop(30%,$wineJewel), color-stop(51%,$purpleJewel), color-stop(55%,$darkblueJewel), color-stop(78%,$blueJewel), color-stop(100%,$tealJewel)); 
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(left,  $pinkJewel 0%,$redJewel 18%,$wineJewel 30%,$purpleJewel 45%,$darkblueJewel 55%,$blueJewel 78%,$tealJewel 100%); 
	/* Opera 11.10+ */
	background: -o-linear-gradient(left,  $pinkJewel 0%,$redJewel 18%,$wineJewel 30%,$purpleJewel 45%,$darkblueJewel 55%,$blueJewel 78%,$tealJewel 100%);
	/* IE10+ */
	background: -ms-linear-gradient(left,  $pinkJewel 0%,$redJewel 18%,$wineJewel 30%,$purpleJewel 45%,$darkblueJewel 55%,$blueJewel 78%,$tealJewel 100%); 
	/* W3C *
	background: linear-gradient(to right,  $pinkJewel 0%,$redJewel 18%,$wineJewel 30%,$purpleJewel 45%,$darkblueJewel 55%,$blueJewel 78%,$tealJewel 100%); 
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0066', endColorstr='#009999',GradientType=1 ); 
}
/*  SLICK OVERRIDES  */

.slick-prev:before, .slick-next:before {
	color: $tealJewel !important;
}
.slick-slide img {
	border: solid 1px #808080;
	border-radius: 4px;
}
.slick-slider {
	width: 50%;
	margin: 0 auto;
}
.slick-next:before {
	padding-left: 15px;
}
.slick-prev {
	left: -40px !important;
}


/*  LAYOUT  */

.resume-box {
	width: 60%;
	margin: auto;
}

.online-box {
	border-radius: 8px;
	background-color: #F0F0F0;
	border: solid 1px lightblue;
	padding: 10px 25px;
	margin: 10px 0 25px 20%;
	width: 80%;
}
.degrees {
	margin-left: 5%;
}

hr.sidebar-hr {
	width: 90%;
	height: 1px;
	background: $tealJewel !important;
	margin-top: -25px;
	margin-bottom: 25px;
}

hr.read-hr {
	width: 90%;
	height: 1px;
	background: $tealJewel !important;
	margin-bottom: 25px;
	margin-top: 10px;
}

/*  BADGES  */
.th-badge-icon {
	width: 50px;
	margin: 0 0 15px -50%;
}

/*   BOOKS READ   */

.book-img {
	text-align: center;
}
.book-img img {
	max-height: 200px;
	max-width: 200px;
}
