/* FONT IMPORTS */

	@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,700,600,800,900);
	@import url(https://fonts.googleapis.com/css?family=Heebo:100,300,400);
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);



/*   SASS COLOR VARIABLES   */

	$pinkJewel: #CC0066;
	$redJewel: #990033;
	$wineJewel: #660033;
	$purpleJewel: #520052;
	$darkBlueJewel: #000066;
	$blueJewel: #006699;
	$tealJewel: #009999;
	$emeraldJewel: #009980;
	$brightBlueJewel: #3284AD;


a, a:visited {
	color: $emeraldJewel;
}

a:hover {
	background-color: #fff;
	color: $redJewel;
}

/*  HEADINGS  */
	
	h1, h2, h3, h5, h6 {
		text-align: center;
	}

	h1 {
		margin: auto 0;
		font-size: 5em;
		font-family: "Heebo";
		padding-top: 150px;
		padding-bottom: 30px;
	}

	h2 {
		font-family: "Raleway";
		font-weight: 400;
		font-size: 2.5em;
		text-transform: uppercase;
		color: $tealJewel;
		margin-bottom: 44px;
	}

	h3 {
		color: $darkBlueJewel;
	}

	h4 {
		color: #000;
		font-family: "Raleway", sans-serif;
	}

/*  TEXT  */

		p {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.2em;
		}

		ul.bulletless {
			list-style: none;
			text-align: left;
			margin-left: 38%;
			color: $purpleJewel;
			li {
				line-height: 1.6em;
			}
		}

		li {
			font-family: 'Heebo', sans-serif;
			font-size: 1.2em;
			margin-bottom: 6px;
		}

		.skills-list {
			font-family: 'Heebo', sans-serif;
			font-size: 1.05em;
			margin-bottom: 6px;
		}

		a {
			text-decoration: none;
		}
		a:hover {
			text-decoration: none;
		}


/*  Color Styles   */

		.pink-text {
			color: $pinkJewel;
		}
		.red-text {
			color: $redJewel;
		}
		.wine-text {
			color: $wineJewel;
		}
		.purple-text {
			color: $purpleJewel;
		}
		.darkblue-text {
			color: $darkBlueJewel;
		}
		.blue-text {
			color: $blueJewel;
		}
		.teal-text {
			color: $tealJewel;
		}

/*  HOMEPAGE Hero Text  */

		.hero-text {
			float: left;
			font-family: "Josefin Sans", sans-serif;
			font-weight: 400;
			font-size: 0.75em;
			color: $wineJewel;
			line-height: 1em;
			letter-spacing: -0.03em;
			text-align: justify;
			padding-top: 10px;
		}


/*   RECIPE PAGE  */

	h2.number-one, h2.number-three, h2.number-five {
		color: $purpleJewel;
		padding-left: 15px;
	}

	h2.number-two, h2.number-four {
		color: $wineJewel;
		padding-right: 15px;
	}

	/* RECIPE BOXES */

		.box-text-left {
				font-family: "Raleway", sans-serif;
				font-weight: 400;
				font-size: 1.1em;
				text-align: justify;
				color: $darkBlueJewel;
				line-height: 1em;
				letter-spacing: -0.03em;
			}	

		.box-text-right {
				font-family: "Raleway", sans serif;
				font-weight: 400;
				font-size: 1.1em;
				color: $darkBlueJewel;
				line-height: 1em;
				letter-spacing: -0.03em;
				text-align: right;
			}	

		.recipe-title {
			font-family: "Raleway", sans-serif;
			text-align: center;
			margin: 35px 0px 30px 100px;	
		}

		p.recipe {
			font-family: "Raleway", sans-serif;
			font-size: 1em;
		}


/*   RESUME TYPOGRAPHY  */

	.job-description, .job-description ul li {
		text-align: justify;
		font-size: 1.3em;
		font-family: 'Open Sans', sans-serif;
		line-height: 1.4em;
	}

	p.job-dates {
		font-size: 1.25em;
		color: $redJewel;
		margin: -1px 0 10px 0;
	}
.job-title {
	font-size: 1.75em;
}
.online-box p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	margin-bottom: 5px;	
}
.smaller {
	font-size: 0.82em;
	line-height: 1.3em;
	margin: -5px 0 11px 0;
}
.edu-head {
	margin-bottom: 10%;
	font-size: 1.65em;
	color: $redJewel;
}
.sidebar-h4 {
	margin-bottom: 20px;
	text-align: center;
	font-size:1.55em;
}
.learning-title {
	color: $pinkJewel !important;
}
.read-h4 {
	margin-bottom: 0px !important;
}
.points {
	text-align: center;
	margin-top: -8px;
	padding-bottom:10px;
	font-size: 1.4em;
}
.th-courses-link {
	margin-left: 25%;
}

.res-resume {
	font-size: 1.25em;
	line-height: 1.25em;
	text-transform: uppercase;
}

/*   PORTFOLIO TYPOGRAPHY  */

	.project-title, a .project-title {
		font-family: "Raleway", sans-serif;
		text-align: left;
		font-weight: 600;
		font-size: 1.4em;
		color: $tealJewel;
	}
	a .project-title:hover {
		text-decoration: none;
		color: $brightBlueJewel;
	}

	p.description, p.gems-libs, p.language {
		font-family: 'Open Sans', sans-serif;
		font-size: 0.75em;
		text-align: justify;
	}

/*   BLOG TYPOGRAPHY   */

	.title {
		font-family: "Raleway", sans-serif;
		font-size: 2.5em;
		text-transform: uppercase;
	}	
	.created-at {
		font-family: "Raleway", sans-serif;
		font-size: 1.3em;
		text-align: left;
		margin: 10px 0 40px 0;
	}
	.post-content {
		font-family: "Antic", sans-serif;
		font-size: 1.5em;
		line-height: 28px;
		text-align: justify;
		width: 80%;
	}
	.post-content p {
		font-family: "Antic", sans-serif;
		font-size: 1em;
		line-height: 28px;
		text-align: justify;
		width: 100%;
		padding-bottom: 20px;
	}
	.post-content p a {
		color: $pinkJewel;
	}
	h4.sidebar-title {
		border-bottom: dotted 1px $pinkJewel;
		color: $pinkJewel;
		padding-bottom: 10px;	
		width: 70%;
	}
	.sidebar-link {
		color: $pinkJewel !important;
	}
	.sidebar-link:hover {
		color: $wineJewel !important;
	}
	.recent-title {
		display: block;
		margin: 5px 0 5px;
		text-transform: small-caps;
	}
	/* SHOW PAGE */
	.show-post-title {
		color: $emeraldJewel;
	}
	.show-post-date {
		color: $redJewel;
		text-align: center;
	}
	.show-post-content p {
		font-family: 'Antic', sans-serif;
		text-align: justify;
		width: 100%;
		font-size: 1.75em;
		line-height: 1.35em;
		color: #404040;
		padding-bottom: 25px;
	}
	.show-post-content p a {
		color: $pinkJewel;
	}

h3.about-me {
	line-height: 1.15em;
	text-align: justify;
}

h4.about-me {
	font-family: "Heebo", sans-serif;
	line-height: 1.4em;
	text-align: justify;
}
